NODE_ENV="development"
PORT=4000

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
SYNCHRONIZE=

# JWT
JWT_SECRET=
JWT_REFRESH=
SECRET_EXPIRES_IN=
REFRESH_EXPIRES_IN=

#Contract
API_RPC_PROVIDER=
API_PRIVATE_KEY=
API_CONTRACT_ADDRESS=